

.search>input{
    margin-bottom:10px;
}
.icon{
    display: inline-block;
    width:20px;
    height:20px;
    background: url(./img/sprites.png) no-repeat;
    vertical-align:middle;
}
.search{
    background-position:0px 0px;
}
.buy{
     background-position:-40px 0px;
}